#############################################
#        PYTHON / GENERAL IGNORE RULES      #
#############################################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Logs
*.log

# Database (local)
local_settings.py
db.sqlite3
db.sqlite3-journal

#############################################
#               JUPYTER                     #
#############################################

.ipynb_checkpoints/
*.ipynb_meta.json

#############################################
#          ENVIRONMENTS & CREDENTIALS       #
#############################################

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Credentials
config/config.py
*.key
*.pem
*.token
*.secret
*.credentials
*.p12
*.json               # Para claves GCP o service accounts
*.aws                # Por si usas CLI

#############################################
#          LAKEHOUSE (BRONZE/SILVER/GOLD)   #
#############################################

# Data layers
data/
data/bronze/
data/silver/
data/gold/

# Parquet / Iceberg / Hive artifacts
*.parquet
*.crc
*.snappy
*.avro
*.orc

# Spark Warehouse
spark-warehouse/
derby.log
.metastore/
spark-events/
spark-logs/

# Iceberg temp files
.metadata/
*.metadata.json
*.snap
*.manifest
*.avro

# Glue / Spark checkpoints
checkpoint/
checkpoints/

#############################################
#       MACHINE LEARNING / EXPERIMENTS      #
#############################################

# Model artifacts
models/artifacts/
*.pkl
*.joblib
*.h5
*.onnx
*.model
*.bin

# ML tracking folders
mlruns/
mlflow/

#############################################
#         NOTEBOOK OUTPUT / VISUALS         #
#############################################

# Images generated inside notebooks
*.png
*.jpg
*.jpeg
*.svg
*.pdf

#############################################
#               IDE / EDITOR                #
#############################################

# VS Code
.vscode/

# PyCharm / JetBrains
.idea/
*.iml

#############################################
#               OTHER TOOLS                 #
#############################################

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Ruff
.ruff_cache/

# Cursor AI
.cursorignore
.cursorindexingignore

# Pixi / PDM / Poetry
.pdm-python
.pdm-build/
.pixi
.poetry/

#############################################
#                 OS SYSTEM                 #
#############################################

# macOS
.DS_Store

# Windows
Thumbs.db
